{% extends 'base.html' %}

{% load static %}
{% block content %}

    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="posts-listing col-lg-8"> 
          <div class="container">
            <div class="row">
              {% for blog in blogs %}
              
              <!-- post             -->
              <div class="post col-xl-6">
                <div class="post-thumbnail"><a href="{% url 'read-blog' blog.pk %}">

                  <img src="{{blog.cover_image.url}}" alt="..." class="img-fluid"></a>
                </div>
                <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">
                    <div class="date meta-last">{{blog.created_at|timesince}}</div>
                    <p class="text-muted">{{blog.get_difficulty_display}}</p>
                    <!-- <div class="category"><a href="#">Business</a></div> -->
                  </div><a href="{% url 'read-blog' blog.pk %}">
                    <h3 class="h4">{{blog.title}}</h3></a>
                  <p class="text-muted">{{blog.description}}</p>

                <div class="post-tags">
                    {% for tag in blog.tags.all %}
                        <a href="#" class="tag">{{tag.name}}</a>
                    {% endfor %}
                </div>
                  <div class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                      <div class="avatar"><img src="{{ blog.author.profile.image.url }}" alt="..." class="img-fluid"></div>
                      <div class="title"><span>{{blog.author.username}}</span></div></a>
                <div class="post-tags">
                </div>
                    <div class="views" title="likes"><i class="fa fa-heart"></i>{{blog.like_set.all.count}}</div>
                       <a href="#comment_body">
                          <i class="fa fa-comment"></i> {{blog.comment_set.all.count}} </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>

            <!-- Pagination -->
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-template d-flex justify-content-center">
                <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                <li class="page-item"><a href="#" class="page-link active">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
              </ul>
            </nav>

          </div>
        </main>
        <aside class="col-lg-4">
          {% include 'right_side.html' %}
          
        </aside>
      </div>
    </div>
{% endblock content %}