{% extends 'base.html' %}

{% load static %}
{% block content %}
    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8"> 
          <div class="container">
            <div class="post-single">
              <div class="post-thumbnail">
                <img src="{{blog.cover_image.url}}" alt="..." class="img-fluid">
              </div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                    <div class="date">{{blog.created_at|timesince}} ago</div>
                  <div class="category"><a href="#">Business</a><a href="#">Financial</a></div>
                </div>
                <h1>
                {{blog.title}}
                    {% if user == blog.author %}

                       <a href="{% url 'edit-blog' blog.pk %} ">
                        <i class="fa fa-edit fa-blue"></i></a>
                    {% else %}
                      <a href="{%url 'bookmark' blog.pk %}"><i class="fa fa-bookmark-o"></i></a>
                    {% endif %}

                </h1>
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{{blog.author.profile.image.url}}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{blog.author.username}}</span></div></a>
                  <div class="d-flex align-items-center flex-wrap">       
                    <!-- <div class="date">{{blog.created_at|timesince}}</div> -->
                    <div class="views" title="likes"><i class="fa fa-heart"></i> {{likes.count}}</div>
                    <div class="comments meta-last" title="comments">
                       <a href="#comment_body"> <i class="fa fa-comment"></i>{{comments.count}} </a>
                      </div>
                  </div>
                </div>
                <hr class="m-1">
                <div class="post-body">
                  <p class="lead">{{blog.description}}</p>
                  <div>
                      {{blog.body|safe}}
                  </div>
                </div>
                <div class="post-tags">
                    {% for tag in tags %}
                        <a href="#" class="tag">{{tag.name}}</a>
                    {% endfor %}
                </div>
                {% if blog.author != request.user %}
                <hr>
                    {% if is_liked_by_user %}
                    <div class="view" title="you already like post!">
                       <a href="#">
                        <i style="font-size:40px;color:red;" class="fa fa-heart"></i>
                       </a>
                     </div>
                     {%else%}
                     <div class="view" title="like post">
                       <a href="{% url 'like-blog' blog.pk %}">
                        <i style="font-size:40px;" class="fa fa-heart"></i>
                       </a>
                     </div>
                    {% endif %}
                {% endif %}
                 {% comment %} {% include 'includes/post_comment.html' %} {% endcomment %}
                  {% include './includes/post_comment.html' %}
                
                <!-- Post-comment section  -->
              </div>
            </div>
          </div>
        </main>
        <aside class="col-lg-4">
          {% include 'right_side.html' %}
        </aside>
        
      </div>
    </div>
{% endblock content %}