<header class="header">
      <!-- Main Navbar-->
      <nav class="navbar navbar-expand-lg">
        <div class="search-area">
          <div class="search-area-inner d-flex align-items-center justify-content-center">
            <div class="close-btn"><i class="icon-close"></i></div>
            <div class="row d-flex justify-content-center">
              <div class="col-md-8">
                <form action="{% url 'search' %}" method="GET">
                  <div class="form-group">
                    <input type="search" name="search" id="search" autofocus placeholder="What are you looking for?">
                    <button type="submit" class="submit"><i class="icon-search-1"></i></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <!-- Navbar Brand -->
          <div class="navbar-header d-flex align-items-center justify-content-between">
            <!-- Navbar Brand --><a href="{%url 'home' %}" class="navbar-brand">Home</a>
            <!-- Toggle Button-->
            <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span></span><span></span><span></span></button>
          </div>
          <!-- Navbar Menu -->
          <div id="navbarcollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a href="{% url 'home' %}" class="nav-link ">Home</a>
              </li>
              <li class="nav-item"><a href="{% url 'blogs' 'all' %} " class="nav-link active ">Blog</a>
              </li>
              <li class="nav-item"><a href="post.html" class="nav-link ">Post</a>
              </li>
              <li class="nav-item"><a href="{%url 'contact-me' %}" class="nav-link">Contact</a>
              </li>
                {% if user.is_authenticated %}
                
              
                <li class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" aria-haspopup="true" aria-expanded="false"
                    role="button" data-toggle="dropdown">{{request.user.username}}</a>
                  <div class="dropdown-menu">
                      <a href="{% url 'create-blog' %}" class="dropdown-item ">Create New Blog</a>
                      <a href="{%url 'auth-user-blog' %}" class="dropdown-item">Your blogs</a>
                      <a href="{%url 'bookmarked' %}" class="dropdown-item">Bookmarked</a>
                      <a href="{%url 'profile' %}" class="dropdown-item">Settings</a>
                      <div class="dropdown-divider"></div>
                      <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                  </div>
                </li>
                {%else%}
                <li class="nav-item"><a href="{% url 'login' %}" class="nav-link ">Login</a> </li>
                <li class="nav-item"><a href="{% url 'register' %}" class="nav-link ">Regsiter</a> </li>
              {%endif%}
            </ul>
            <div class="navbar-text"><a href="#" class="search-btn"><i class="icon-search-1"></i></a></div>
            {% comment %} <ul class="langs navbar-text"><a href="#" class="active">EN</a><span>           </span><a href="#">ES</a></ul> {% endcomment %}
          </div>
        </div>
      </nav>
    </header>